*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
a,
button {
font-family: inherit;
cursor: pointer;
color: currentColor;
}
input, textarea, select {
    font-family: inherit;
    color: currentColor;
}
 
html, body{
    background-color:#6F734F;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body{
    display:grid;
    grid-template-rows: 15% 85%;
}
.header{
    margin: 15px;
    padding: 10px;
    background-color: #EADECE;
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    margin: 15px;
    margin-right: 0px;
    padding: 15px;
    padding-right: 0px;
    font-weight: 600;
    color: #412E27;
}
.menu{
    position: relative;
    margin: 15px;
    margin-left: 0px;
    padding: 15px;
    padding-left: 0px;
    display: inline-block;
}
.menu-button{
    border: none;
    background: transparent;
}
.menu-button img{
    width: 50px;
    border-radius: 25px;
}
.menu-itens{
    display: none;
    position: absolute;
    right: 15px;
    background-color: #CCB89D;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-itens a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
.menu-itens a:hover{
    background-color: #b39f86;
    text-decoration: underline;
    border-radius: 10px;
}
.menu:hover .menu-itens{
    display: block;
    border-radius: 10px;
}
.page{
    position: sticky;
    margin: 10px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #EADECE;
    border-radius: 15px;
    overflow-y: scroll;
    color: #412E27;
}
.page::-webkit-scrollbar {
    display: none;
}
.content p{
    margin: 20px;
    font-size: 20px;
    text-align: justify;
}
hr{
    border-top: 2px solid #D5815B;
    margin: 10px;
}
.sobre-podcast{
    margin: 10px;
    padding: 10px;
    margin-bottom: 30px;
}
.video{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.video-sizing{
    height: 90%;
    width: 90%;
}
.episode-list{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.episode{
    padding: 10px;
}
.audio{
    margin: 20px 15px 0px;
}
.sobre-mim{
    margin: 10px;
    padding: 10px;
}
.sobre-mim h2{
    margin-bottom: 10px;
}
.sobre-mim li{
    list-style-position: inside;
    list-style-type: circle ;
}
.redes{
    margin: 10px;
    padding: 10px;
}
.redes img{
    width: 100px;
    border-radius: 50px;
}
.links{
    display: flex;
}
.redes a{
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.redes a:hover{
    text-decoration: underline;
    background-color: #CCB89D;
    border-radius: 20px;
}
@media (max-width:610px) {
    .title{
        font-size: 16px
    }
}
@media (max-width:500px) {
    .title{
        font-size: 14px;
    }
}
@media (max-width: 475px) {
    .title{
        font-size: 12px;
    }
    .video{
        margin: 20px 0px
    }
    .menu{
        font-size: 15px;
    }
    .menu-itens{
        min-width: 180px;
    }
    .menu-button{
        width: 40px;
    }
    .content{
        font-size: 16px;
    }
    .links img{
        width: 80px;
    }
    .links {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 400px) {
    .audio{
        margin: 10px 0px 20px;
    }   
     .links img{
        width: 65px;
    }
    .links a{
        padding: 10px;
        text-indent: -9999px;
    }
}