*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #412E27;
}
a,
button {
    font-family: inherit;
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
}
input, textarea, select {
    font-family: inherit;
    color: currentColor;
}
html, body{
    background-color:#D5815B;
    height: 100svh;
    width: 100vw;
}
body{
    display: grid;
    grid-template-areas: 'header' 'content' 'footer';
    grid-template-rows: 10% 75% 15%;
    font-size: 20px;
    overflow: scroll;
}
.header{
    grid-area: header;
    background-color: #EADECE;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
}
body::-webkit-scrollbar {
    display: none;
}
.header h1{
    color:#5D2410;
}
.content{
    grid-area: content;
    margin: 10px;
    background-color: #EADECE;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background-color: #d4c2aa;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #836f68; 
}
.footer{
    grid-area: footer;
    background-color: #EADECE;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
li{
    list-style: none;
}
.lista{
    margin: 15px;
    padding: 15px;
    display: block;
}
.lista:hover{
    background-color: #ccb89dbb;
    border-radius: 15px;
    box-shadow: 5px 5px #86786570;
}
.lista:hover h2{
    color: #5D2410;
    text-decoration: underline;
}
.footer img{
    width: 80px;
    border-radius: 50px;
    margin: 10px;
}
.footer a:hover{
    background-color: #ccb89dbb;
    border-radius: 15px;
    border-bottom: 5px solid #86786570;
}
@media (max-width: 900px){
    .header{
        font-size: 85%;
    }
    .footer img{
        width: 70px;
    }
}
@media (max-width: 700px) {
    .header{
        font-size: 80%;
    }
}
@media (max-width: 660px) {
    .header{
        font-size: 70%
    }
    .content{
        font-size: 90%;
    }
}
@media (max-width: 580px) {
    .header{
        font-size: 60%;
    }
    .content{
        font-size: 80%;
    }    
}
@media (max-width: 500px) {
    .header{
        font-size: 50%;
    }
    .content{
        font-size: 70%;
    }
}