*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}
html, body{
    background-color: #351b1b;
    height: 100vh;
    width: 100vw;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.content{
    width: 90%;
    height: 70%;
    margin: 15px;
    padding: 15px;
    background-color: #EADECE;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 15% 85%;
}
h1{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comodos div{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}
button{
    background-color: green;
    font-size: 18px;
    padding: 12px;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    color: #fff;
    width: 90px;
    display: flex;
    justify-content: center;
}
.on{
    background-color: rgb(197, 59, 59);
    font-size: 18px;
    padding: 12px;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    color: #fff;
}
span{
    background-color: #000000;
    color: #fff;
    padding: 10px 16px;
    border-radius: 15px;
}
span.ligado{
    background-color: yellow;
    color: #000;
    font-weight: bold;
    border: #000 solid 2px;
}
