*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #412E27;
}
input, textarea, select {
    font-family: inherit;
    color: currentColor;
}
html, body{
    background-color:#D5815B;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
a{
    font-family: inherit;
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin: 15px;
}
body{
    display: grid;
    grid-template-areas: 'header' 'content';
    grid-template-rows: 10% 90%;
}
.header{
    grid-area: header;
    margin: 15px;
    padding: 15px;
    background-color: #EADECE;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    grid-area: content;
    overflow: scroll;
    margin: 0 15px 15px;
    padding: 15px;
    background-color: #EADECE;
    border-radius: 10px;
    font-size: 18px;
    text-align: justify;
}
.introduction{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
.content img{
    width: 400px;
    margin: 25px auto;
    border-radius: 30px;
    box-shadow: 5px 5px #86786570;
    display: flex;
}
.content h2{
    text-align: center;
    text-decoration: underline;
}
.content p{
    text-indent: 15px;
}
hr{
    border-top: 2px solid #5D2410;
    margin: 10px;
}
.content::-webkit-scrollbar {
    display: none;
}