*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #412E27;
}
a{
    font-family: inherit;
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
}
input, textarea, select {
    font-family: inherit;
    color: currentColor;
}
html, body{
    background-color:#D5815B;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body{
    display: grid;
    grid-template-areas: 'header' 'content';
    grid-template-rows: 10% 90%;
}
img{
    width: 400px;
}
.header{
    grid-area: header;
    margin: 15px;
    padding: 15px;
    background-color: #EADECE;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    grid-area: content;
    overflow: scroll;
    margin: 0 15px 15px;
    padding: 15px;
    background-color: #EADECE;
    border-radius: 10px;
}
.introduction{
    font-size: 20px;
    font-weight: 700;
}
