*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #412E27;
}
a,
button {
    font-family: inherit;
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
    border: none;
    background: none;
}
input, textarea, select {
    font-family: inherit;
    color: currentColor;
}
html, body{
    background-color:#5D2410;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body{
    display: grid;
    grid-template-rows: 20% 80% ;
    grid-template-areas: 'header' 'content';
}
.header{
    grid-area: header;
    margin: 15px;
    padding: 20px;
    background-color: #EADECE;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    grid-area: content;
    margin: 0px 15px 15px;
    background-color: #EADECE;
    border-radius: 20px;
    overflow: scroll;
    padding: 25px;
}
.header img{
    width: 90px;
    border-radius: 50px;
}

hr{
    border-top: 2px solid #7F6044;
    margin: 30px;
}

ul, ol{
    margin: 15px;
}
ol > li{
text-align: center;
}