*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #412E27;
}
a,
button {
    font-family: inherit;
    cursor: pointer;
    color: currentColor;
    text-decoration: none;
    border: none;
    background: none;
}
input, textarea, select {
    font-family: inherit;
    color: currentColor;
}
html, body{
    background-color:#5D2410;
    height: 100svh;
    width: 100vw;
    overflow: hidden;
}
body{
    display: grid;
    grid-template-rows: 20% 80% ;
    grid-template-areas: 'header' 'content';
}
.header{
    grid-area: header;
    margin: 15px;
    padding: 20px;
    background-color: #EADECE;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
}
.content{
    grid-area: content;
    margin: 0px 15px 15px;
    background-color: #EADECE;
    border-radius: 20px;
    overflow: scroll;
    padding: 25px;
    font-size: 20px; 
    text-align: justify;
}
.header img{
    width: 90px;
    border-radius: 50px;
}
hr{
    border-top: 2px solid #7F6044;
    margin: 50px;
}
ul, ol{
    margin: 15px;
}
ol > li{
text-align: center;
}
ul > li{
    padding: 20px 10px 0px;
}
.tabela{
    display: flex;
    justify-content: center;
}
th, tr, td{
    padding: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 10px;
}
.footer img{
    width: 100px;
    border-radius: 50px;
}
.goup:hover{
    text-decoration: underline;
}
.menu-itens{
    display: none;
    position: absolute;
    right: 15px;
    background-color: #CCB89D;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-itens a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
.menu-itens a:hover{
    background-color: #b39f86;
    text-decoration: underline;
    border-radius: 10px;
}
.menu:hover .menu-itens{
    display: block;
    border-radius: 10px;
}
.content::-webkit-scrollbar {
    display: none;
}
@media (max-width:860px) {
    .header{
        font-size: 20px;
    }
    .header img{
        width: 80px;
    }
}
@media (max-width: 740px) {
    .header{
        font-size: 15px;
    }    
    .header img{
        width: 70px;
    }
    .tabela{
        font-size: 70%;
    }
    .footer img{
        width: 80px;
    }
}
@media (max-width: 575px) {
    .header{
        font-size: 12px;
    }    
    .tabela{
        font-size: 65%;
    }
    th, tr, td{
        padding: 5px;
    }
    .footer{
        margin: 15px;
    }
    .footer img {
        width: 70px;
    }
}